@font-face {
  font-family: "Pokemon";
  src: local("Pokemon"), url(./fonts/pokemon/Pokemon-Hollow.ttf) format("truetype");
}

.App {
  text-align: center;
  height: 100vh;
  background-image: url("./Images/background.jpg");
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pokemon {
    height: 180vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pokemon {
    height: 160vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    height: 170vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App {
    height: 100vh;
  }
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  text-align: left;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-background {
  font-family: "Pokemon";
  color: rgba(255, 255, 255, 0.411);
  height: 0;
  font-size: 5em;

  h1 {
    margin: 0;
    height: 0;
  }
}